$primary: #1a9582;

body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', serif;
}

.legends {
  &__marker {
    width: 1.75rem;
    height: 1.75rem;
    cursor: pointer;
  }

  &__emoji {
    width: 100%;
    height: auto;
  }
}

.legend {
  &__modal {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
  }

  &__content {
    display: flex;
    height: 100%;
    flex-flow: column;
  }

  &__top {
    flex: 0 1 auto;
    padding: 1rem;
  }

  &__emoji {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
  }

  &__coords {
    color: $primary;
    font-size: 0.75rem;
  }

  // FIXME(@andemerie)
  &__coords_link {
    color: $primary;
  }

  &__title {
    font-size: 2rem;
  }

  &__text {
    flex: 1 1 auto;
    padding: 1rem;
    overflow-y: auto;
  }

  &__close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: unset;
    background: unset;
  }

  &__close-icon {
    color: $primary;
    font-size: 2rem;
  }
}

.title {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: fit-content;
  z-index: 2;

  a {
    color: $primary;
  }

  &__map {
    left: 1.5rem;
    top: 1.5rem;
  }

  &__wir-reference {
    bottom: 1.5rem;
    right: 1.5rem;
  }

  @media only screen and (max-width: 768px) {
    &__map {
      font-size: 2rem;
    }

    &__wir-reference {
      font-size: 1.25rem;
    }
  }

  @media only screen and (min-width: 768px) {
    &__map {
      font-size: 4rem;
    }

    &__wir-reference {
      font-size: 1.75rem;
    }
  }
}
