body {
  padding: 0;
  margin: 0;
}

.marker {
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
}

.marker img {
  width: 100%;
  height: auto;
}

.popup {
  padding: 5px;
  background: white;
  border-radius: 2px;
  color: #3f618c;
  font-weight: 400;
}

.legend-text {
  width: 300px;
  padding: 10px;
  word-wrap: break-word;
}
